<table class="table is-fullwidth">
  <thead>
    <tr>
      <th>Name</th>
      <th>Category</th>
      <th>Description</th>
    </tr>
  </thead>
  <tbody>
    {{#each placemark.places}}
      <tr>
        <td>
          {{title}}
        </td>
        <td>
          {{category}}
        </td>
        <td>
          {{description}}
        </td>
        <td>
          <a href="/playlist/{{../playlist._id}}/deleteplace/{{_id}}" class="ui icon button">
            <i class="fas fa-trash"></i>
          </a>
        </td>
      </tr>
    {{/each}}
  </tbody>
</table>
